/* ~~ this container surrounds all other divs giving them their percentage-based width ~~ */
.toolbar {
  width: 100%;
  /*max-width: 1260px;/* a max-width may be desirable to keep this layout from getting too wide on a large monitor. This keeps line length more readable. IE6 does not respect this declaration. */
  min-width: 768px;
  /* a min-width may be desirable to keep this layout from getting too narrow. This keeps line length more readable in the side columns. IE6 does not respect this declaration. */
  margin-top: -48px;
  z-index: 999;
  height: 48px;
  background: #002c34;
}
.current {
  margin: 0px auto;
  width: 600px;
  padding-top: 14px;
  z-index: 999;
}
.current a:link {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  /*color: #9f9e9e;*/
  color: #9f9e9e;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 999;
  font-weight: 300;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}
.current a:visited {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  color: #9f9e9e;
  text-decoration: underline;
  position: relative;
  z-index: 999;
}
/*.current a:hover, .current a:active, .current a:focus {
	font-family: 'Lato' , sans-serif;
	letter-spacing: 1px;
	text-decoration: none;
	color: #fff;
	position: relative;
	z-index: 70;
}*/
.current a:hover {
  color: #eef4ff;
  text-shadow: 1px 1px 1px #5A5A5A;
  text-decoration: none;
  text-shadow: 0 0 2px #fff, 0 0 4px #0C6, 0 0 5px #0C6, 0 0 6px #0C6;
  z-index: 999;
}
.current li {
  margin: auto 0px;
  font-size: 14px;
  z-index: 8;
  position: relative;
  z-index: 999;
}
.toolbar li.back {
  background-color: #000;
  opacity: 0.3;
  filter: alpha(opacity=30);
  /* For IE8 and earlier */
  width: 130%;
  height: 48px;
  z-index: 0;
  position: absolute;
  margin-top: -38px;
}
.menu {
  display: inline;
}
.menu a {
  display: inline;
  position: relative;
  padding-top: 28px;
}
.active {
  background: black;
  padding-top: 13px;
  padding-bottom: 14px;
  color: white;
}
.active-text {
  color: #9f9e9e;
}
/*********  Begin Buttons *************/
.resume_btn {
  float: left;
  height: 45px;
  margin-right: 40px;
  /*Used to keep nav (.current) looking center as browser window approaches min-width of 768px  */
}
#resume_btn {
  left: 2px;
  top: 7px;
  position: relative;
  width: 66px;
  height: 34px;
  background: url(../images/resume_sprite.png) no-repeat 0 0;
  display: block;
  float: left;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
#resume_btn:hover,
#resume_btn:visited {
  background-position: 0 -34px;
}
#resume_btn:active {
  background-position: 0 -68px;
}
.contact_btn {
  float: right;
  padding-right: 4px;
  position: relative;
}
#contact_btn {
  right: 2px;
  top: 8px;
  position: relative;
  width: 39px;
  height: 32px;
  background: url(../images/contact_sprite.png) no-repeat 0 0;
  cursor: pointer;
  float: right;
}
#contact_btn:hover {
  background-position: 0 -32px;
}
#contact_btn:active {
  background-position: 0 -64px;
}
#pdf_btn {
  right: 2px;
  top: 8px;
  position: relative;
  width: 39px;
  height: 32px;
  background: url(../images/contact_sprite.png) no-repeat 0 0;
  cursor: pointer;
  float: right;
}
#pdf_btn:hover {
  background-position: 0 -32px;
}
#pdf:active {
  background-position: 0 -64px;
}
#pageslide {
  /* These styles MUST be included. Do not change. */
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  /* Specify the width of your pageslide here */
  width: 360px;
  /* These styles are optional, and describe how the pageslide will look */
  background: url(../images/linen-texture-green.jpg) 0 0 repeat;
  color: #FFF;
  -webkit-box-shadow: inset 0 0 5px 5px #222;
  -moz-shadow: inset 0 0 5px 5px #222;
  box-shadow: inset 0 0 5px 5px #222;
}
#name_slide {
  position: relative;
  top: -4px;
  right: 67px;
}
#name_slide h3 {
  font-family: 'Lato', sans-serif;
  height: 20px;
  padding: 1px 3px 1px 3px;
  width: 100%;
  left: 0;
  top: 0;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 1px;
}
#Stage {
  position: absolute;
  margin: 0px auto;
  top: 230px;
  z-index: 15;
}
#nav_lines {
  background-image: url(../images/nav_lines.png);
  background-repeat: no-repeat;
  position: absolute;
  z-index: 10;
  width: 460px;
  height: 500px;
  margin: 0px auto;
  z-index: 20;
}
