@charset "UTF-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Lato:300);

body {
	font: 100%/1.4 'Lato', Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background: black;
}
.hidden{overflow: hidden;}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .current list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
}


a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}
a:link {
	color: #9f9e9e;
	text-decoration: none;
}
a:visited {
	color: #4E5869;
	text-decoration: underline;
}
a:hover, a:active, a:focus {
	text-decoration: none;
}



/* ~~ this container surrounds all other divs giving them their percentage-based width ~~ */
.toolbar {
	width: 100%;
	/*max-width: 1260px;/* a max-width may be desirable to keep this layout from getting too wide on a large monitor. This keeps line length more readable. IE6 does not respect this declaration. */
	min-width: 768px;/* a min-width may be desirable to keep this layout from getting too narrow. This keeps line length more readable in the side columns. IE6 does not respect this declaration. */
	margin-top: -48px;
	z-index: 999;
	height: 48px;
	background: #292929; /* Old browsers */
	background-image: url(../images/diagonal_pattern.png), -moz-linear-gradient(top, #292929 0%, #1b1b1b 100%); /* FF3.6+ */
	background-image: url(../images/diagonal_pattern.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #292929), color-stop(100%, #1b1b1b)); /* Chrome,Safari4+ */
	background-image: url(../images/diagonal_pattern.png), -webkit-linear-gradient(top, #292929 0%, #1b1b1b 100%); /* Chrome10+,Safari5.1+ */
	background-image: url(../images/diagonal_pattern.png), -o-linear-gradient(top, #292929 0%, #1b1b1b 100%); /* Opera 11.10+ */
	background-image: url(../images/diagonal_pattern.png), -ms-linear-gradient(top, #292929 0%, #1b1b1b 100%); /* IE10+ */
	background-image: url(../images/diagonal_pattern.png), linear-gradient(to bottom, #292929 0%, #1b1b1b 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#292929', endColorstr='#1b1b1b', GradientType=0 ); /* IE6-9 */
}
.current {
	margin: 0px auto;
	width: 600px;
	padding-top: 14px;
	z-index: 999;
}
.current a:link {
	font-family: 'Lato' , sans-serif;
	letter-spacing: 1px;
	/*color: #9f9e9e;*/
	color: #9f9e9e;
	text-decoration: none;
	margin-left: 10px;
	margin-right: 10px;
	z-index: 999;
	font-weight: 300;
	-webkit-transition: all .3s linear;
      -moz-transition: all .3s linear;
           transition: all .3s linear;
}
.current a:visited {
	font-family: 'Lato' , sans-serif;
	letter-spacing: 1px;
	color: #9f9e9e;
	text-decoration: underline;
	position: relative;
	z-index: 999;

}
/*.current a:hover, .current a:active, .current a:focus {
	font-family: 'Lato' , sans-serif;
	letter-spacing: 1px;
	text-decoration: none;
	color: #fff;
	position: relative;
	z-index: 70;
}*/

.current a:hover{
color: #eef4ff;
	text-shadow: 1px 1px 1px #5A5A5A;
	text-decoration: none;
	text-shadow: 0 0 2px #fff, 0 0 4px #0C6, 0 0 5px #0C6, 0 0 6px #0C6;
	z-index: 999;
	}
.current li {
	margin: auto 0px;
	font-size: 14px;
	z-index: 8;
	position: relative;
	z-index: 999;
}
.toolbar li.back {
	background-color: #000;
	opacity: 0.3;
	filter: alpha(opacity=30); /* For IE8 and earlier */
	width: 130%;
	height: 48px;
	z-index: 0;
	position: absolute;
	margin-top: -38px;
}
.menu {
	display: inline;
}
.menu a {
	display: inline;
	position: relative;
	padding-top: 28px;
}

.active {
	background: black;
	padding-top: 13px;
	padding-bottom: 14px;
	color: white;
	}

.active-text{
color: #9f9e9e;
}
/*********  Begin Buttons *************/
.resume_btn {
	float: left;
	height: 45px;
	margin-right: 40px; /*Used to keep nav (.current) looking center as browser window approaches min-width of 768px  */
}
#resume_btn {
	left: 2px;
	top: 7px;
	position: relative;
	width: 66px;
	height: 34px;
	background: url(../images/resume_sprite.png) no-repeat 0 0;
	display: block;
	float: left;
	cursor: pointer;
	padding: 0;
	margin: 0;
}
#resume_btn:hover, #resume_btn:visited {
	background-position: 0 -34px;
}
#resume_btn:active {
	background-position: 0 -68px;
}

.contact_btn {
	float: right;
	padding-right: 4px;
	position: relative;
}
#contact_btn {
	right: 2px;
	top: 8px;
	position: relative;
	width: 39px;
	height: 32px;
	background: url(../images/contact_sprite.png) no-repeat 0 0;
	cursor: pointer;
	float: right;
}
#contact_btn:hover {
	background-position: 0 -32px;
}
#contact_btn:active {
	background-position: 0 -64px;
}
#pdf_btn {
	right: 2px;
	top: 8px;
	position: relative;
	width: 39px;
	height: 32px;
	background: url(../images/contact_sprite.png) no-repeat 0 0;
	cursor: pointer;
	float: right;
}
#pdf_btn:hover {
	background-position: 0 -32px;
}
#pdf:active {
	background-position: 0 -64px;
}


/*************  end Buttons **************/
.outer_container {
	width: 100%;
	/*max-width: 1260px;/* a max-width may be desirable to keep this layout from getting too wide on a large monitor. This keeps line length more readable. IE6 does not respect this declaration. */
	min-width: 768px;/* a min-width may be desirable to keep this layout from getting too narrow. This keeps line length more readable in the side columns. IE6 does not respect this declaration. */
 background:;
	margin: 0;
}
/* ~~ This is the layout information. ~~ */


.content {
	padding: 0 15px; line-height: 1.6em;
}
/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.content ul, .content ol,  {
	padding: 0 15px 15px 40px; font-family: 'Lato' , sans-serif; font-size: 15px; color: white; /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
}
p.content, .info-box li {font-family: 'Lato' , sans-serif; font-size: 14px; font-weight: 100; color: white; letter-spacing: .05em;}

ul, ol, dl {padding: 0 15px 15px 40px; font-family: 'Lato' , sans-serif; font-size: 15px; color: white; line-height: 1.4em;}

li {margin-bottom: 7px;}

/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the overflow:hidden on the .container is removed */
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0px;
}

#pageslide {
    /* These styles MUST be included. Do not change. */
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    
    /* Specify the width of your pageslide here */
    width: 360px;
    
    
    /* These styles are optional, and describe how the pageslide will look */
    background:url(../images/linen-texture-green.jpg) 0 0 repeat;
    color: #FFF;
    -webkit-box-shadow: inset 0 0 5px 5px #222;
    -moz-shadow: inset 0 0 5px 5px #222;
    box-shadow: inset 0 0 5px 5px #222;
	
}
#name_slide {
	position: relative;
	top: -4px;
	right: 67px;
}
#name_slide h3 {
	font-family: 'Lato' , sans-serif;
	height: 20px;
	padding: 1px 3px 1px 3px;
	width: 100%;
	left: 0;
	top: 0;
	font-size: 16px;
	font-weight: 100;
	letter-spacing: 1px;
}
#Stage {
	position: absolute;
	margin: 0px auto;
	top: 230px;
	z-index: 15;
}
#nav_lines {
	background-image: url(../images/nav_lines.png);
	background-repeat: no-repeat;
	position: absolute;
	z-index: 10;
	width: 460px;
	height: 500px;;
	margin: 0px auto;
	z-index: 20;
	
}

#copyright {position: fixed; bottom: 0; right: 0; padding: 0 5px 5px 0; margin: 0; 	font-family: 'Lato' , sans-serif;
	font-weight: 100; font-size: 13px; color: #999;z-index: 999; background: rgba(0, 0, 0, .85);}

p#copyright{padding: 3px 5px;}

	#osmplayer {
	position: absolute;
	top: 490px;
	left: 105px;
	}
/******************  Begin Home  ****************/
.home_container {
	background-color: #1c1b1b;
	height: 1000px;
	position: relative;
	width: 100%;
	overflow: hidden;
}
#home_nav h1 {
	font-family: 'Lato' , sans-serif;
	font-size: 40px;
	color: #60e385;
	font-weight: 100;
	letter-spacing: 2px;
	margin: 0 auto;
	padding: 50px 0px 0px 63px;
}
#home_nav {
	margin: 0 auto;
	width: 460px;
	height: 500px;;
}
h3.x_nav {
	font-family: 'Lato' , sans-serif;
	font-weight: 100;
	letter-spacing: 1px;
	font-size: 14px;
}
h3.x_nav a:link {
	color: #fff;
	-webkit-transition: all .3s linear;
      -moz-transition: all .3s linear;
           transition: all .3s linear;
}
h3.x_nav a:visited {
	color: #fff;
}
h3.x_nav a:hover {
	color: #eef4ff;
	text-shadow: 1px 1px 1px #5A5A5A;
	text-decoration: none;
	text-shadow: 0 0 2px #fff, 0 0 4px #0C6, 0 0 7px #0C6, 0 0 8px #0C6;
}
h3#nav_resume {
	position: absolute;
	top: -13px;
	left: 24px;
}
h3#nav_contact {
	position: absolute;
	top: -13px;
	left: 350px;
	z-index: 20;
}
h3#nav_about {
	position: absolute;
	top: 44px;
	left: -8px;
	z-index: 20;
}
h3#nav_interface {
	position: absolute;
	top: 217px;
	left: -10px;
	z-index: 20;
}
h3#nav_animation {
	position: absolute;
	top: 275px;
	left: 23px;
	z-index: 20;
}
h3#nav_print {
	position: absolute;
	top: 217px;
	left: 406px;
	z-index: 20;
}
h3#nav_concepts {
	position: absolute;
	top: 275px;
	left: 342px;
	z-index: 20;
}
h3#nav_art {
	position: absolute;
	top: 44px;
	left: 414px;
	z-index: 20;
}

#city{width: 100%; display: block;  position: absolute; padding: 0; margin: 0; bottom: 0; left: 0;}

#logo {background-image: url(../images/dc_home.jpg); width: 267px; height: 177px; display: block; position: absolute; z-index: 0; top: 165px; left: 460px;}
/******************  End Home  ****************/

/****************  Info box  **************/
.info-box {
	background-color: #000;
	width: 350px;
	height: 100px;
	opacity: .85;
	position: absolute;
	z-index: 60;
	overflow: hidden;
	}
	
.info-box header {font-family: 'Lato' , sans-serif;
	font-size: 42px;
	color: #60e385;
	font-weight: 100;
	letter-spacing: 1px;
	padding: 6px 10px 0px 12px;
	margin: 0;
	
	}

	#animation-box header {font-family: 'Lato' , sans-serif;
	font-size: 42px;
	color: #60e385;
	font-weight: 100;
	letter-spacing: 1px;
	padding: 6px 10px 0px 12px;
	margin: 0;
	
	}
	.large-link {font-family: 'Lato' , sans-serif;
	font-size: 26px;
	color: #60e385;
	font-weight: 100;
	margin: 0;
	cursor: pointer;
	
	}
	.large-link:hover {font-family: 'Lato' , sans-serif;
	font-size: 26px;
	color: #0ba9d0;
	font-weight: 100;
	margin: 0;
	cursor: pointer;
	}	
.inner-content {padding: 15px;}
.button-area {float: right; width: 130px; height: 50px;  position: relative; padding: 10px 10px 0 0;}
.button-area2 {float: left; width: 150px; height: 50px;  position: absolute; padding: 10px 0 0 190px;}
.animation-thumb {position: absolute; float: left; width: 130px; height: 70px; top: 15px; overflow: hidden;}
.button-area p {float: right; font-size: 12px; color: #ececec; font-family: 'Lato' , sans-serif;letter-spacing: 1px; padding: 4px 0 0 0; margin: 0;}
.button-area2 p {float: right; font-size: 12px; color: #ececec; font-family: 'Lato' , sans-serif;letter-spacing: 1px; padding: 4px 0 0 0; margin: 0;}
/*.open-close-btn {background-image:url(../images/open-close.png); position: relative; width: 53px; height: 53px; z-index: 70; float: right; display: block; cursor: pointer;  }
.open-close-btn:hover {background-position:0 -53px; cursor: pointer;}
.open-close-btn:active {background-postion:0 -106px; cursor: pointer;}*/

.open-close-btn {background: #0eb566;  position: relative; width: 34px; height: 34px; z-index: 70; float: right; display: block; cursor: pointer;  -webkit-transition: all .3s linear;
      -moz-transition: all .3s linear;
           transition: all .3s linear;}
.open-close-btn:hover {background: #0ba9d0;  cursor: pointer;}
.open-close-btn:active {background: #0ba9d0;  cursor: pointer;}

.open-close-btn h2{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-weight: 100; font-size: 40px; color: black; text-shadow: 3px 3px 2px #000 inset; margin: -12px 0 0 -9px;  display: block;}
.open-close-btn h3{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-weight: 100; font-size: 30px; color: black; text-shadow: 3px 3px 2px #000 inset; margin: -16px 0 0 -6px;  position: absolute; display: none;}
.button-area .title-open{display: block; padding-right: 5px; margin-top: -4px;}
.button-area .title-close{display: none; padding-right: 5px; margin-top: -4px;}
.button-area2 .title-open{display: block; padding-right: 5px; margin-top: -4px;}
.button-area2 .title-close{display: none; padding-right: 5px; margin-top: -4px;}


.invert {
-ms-transform:rotate(180deg); /* IE 9 */
-moz-transform:rotate(180deg); /* Firefox */
-webkit-transform:rotate(180deg); /* Safari and Chrome */
-o-transform:rotate(180deg); /* Opera */}

p.info-title {color: #ececec; font-family: 'Lato' , sans-serif; font-size: 16px; margin-top: -2px; letter-spacing: .1em; font-weight: 200;}

/*  _______________________________________

	05 OVERLAY TEXT
    _______________________________________  */


	
.overlay_text {
	width: 100%;
	height: 90px;
	margin-bottom: 25px;
	float: left;
	/*border: 5px solid #f5f5f5;*/
	overflow: hidden;
	position: relative;
	text-align: center;
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translate3d(0, 0, 0);
}
.overlay_text img {
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	
}
.overlay_text .overlay_text_mask {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	-ms-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
}

/* Overlays Colors */


.overlay_text .black_mask {
	background: #000000;
		background: rgba(0,0,0,0.8) url(../images/image-more.jpg) 0 0 no-repeat;

	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
}
.addy{background: url(../images/image-more.jpg) 100% 0 no-repeat;}
.overlay_text2 .black_mask2 {
	background: #000000;
		background: rgba(0,0,0,0.8) url(../images/image-more.jpg) 0 0 no-repeat;

	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
}
.overlay_text .black_mask h2,
	.overlay_text .black_mask p {
		color: #FFFFFF;
		font-family: 'Lato' , sans-serif;
		font-weight: 100;
	}
	
	.overlay_text .black_mask h2 {font-size: 130%;}
	.overlay_text .black_mask p {font-size: 95%;}

/* Overlays Texts */

.overlay_text h2,
.overlay_text p {
	font-family: 'Lato' , sans-serif;
	
	text-align: center;
	position: relative;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
}
.overlay_text h2 {
	font-size: 16px;
	margin: 15px 0 0 0;
}
.overlay_text p {
	font-size: 11px;
	line-height:21px;
	color: #000000;
	padding: 5px 20px 10px 20px;
}

/* Hover Events */

.overlay_text:hover img {
	-webkit-transform: scale(1.1,1.1);
	-moz-transform: scale(1.1,1.1);
	-o-transform: scale(1.1,1.1);
	-ms-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
	cursor: pointer;
}
.overlay_text:hover .overlay_text_mask,
.overlay_text:hover h2,
.overlay_text:hover p {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
		cursor: pointer;
}
.overlay_text:hover h2 {
	-webkit-transition-delay: 0.1s;
	-moz-transition-delay: 0.1s;
	-o-transition-delay: 0.1s;
	-ms-transition-delay: 0.1s;
	transition-delay: 0.1s;
		cursor: pointer;
}
.overlay_text:hover p {
	-webkit-transition-delay: 0.3s;
	-moz-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	-ms-transition-delay: 0.3s;
	transition-delay: 0.3s;
		cursor: pointer;
}

/* Top / Bottom Animation */

.overlay_top_bottom h2 {
	-webkit-transform: translateY(-100px);
	-moz-transform: translateY(-100px);
	-o-transform: translateY(-100px);
	-ms-transform: translateY(-100px);
	transform: translateY(-100px);
}
.overlay_top_bottom p {
	-webkit-transform: translateY(100px);
	-moz-transform: translateY(100px);
	-o-transform: translateY(100px);
	-ms-transform: translateY(100px);
	transform: translateY(100px);
}
.overlay_top_bottom:hover h2,
.overlay_top_bottom:hover p {
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-o-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}

/* Left / Right Animation */

.overlay_left_right h2 {
	-webkit-transform: translateX(-100px);
	-moz-transform: translateX(-100px);
	-o-transform: translateX(-100px);
	-ms-transform: translateX(-100px);
	transform: translateX(-100px);
}
.overlay_left_right p {
	-webkit-transform: translateX(100px);
	-moz-transform: translateX(100px);
	-o-transform: translateX(100px);
	-ms-transform: translateX(100px);
	transform: translateX(100px);
}
.overlay_left_right:hover h2,
.overlay_left_right:hover p {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
}





/***************  ID boxes ************/
#about-box {
	background-color: #000;
	position: absolute;
	bottom: 200px;
	right: 7%;
	z-index: 60;
	overflow: hidden;
	
	}
#interface-box {
	background-color: #000;
	position: absolute;
	bottom: 450px;
	right: 7%;
	z-index: 60;
	overflow: hidden;
	
	}
	
#animation-box {
	background-color: #000;
	position: absolute;
	bottom: 200px;
	left: 2%;
	z-index: 60;
	overflow: hidden;
	height: 100px;
	width: 350px;
	opacity: .85;
	
	}



#print-box {
	background-color: #000;
	position: absolute;
	bottom: 200px;
	left: 6%;
	z-index: 60;
	overflow: hidden;
	
	}
	
#concepts-box {
	background-color: #000;
	position: absolute;
	bottom: 200px;
	right: 7%;
	z-index: 60;
	overflow: hidden;
	
	}
	
#art-box {
	background-color: #000;
	position: absolute;
	bottom: 200px;
	right: 7%;
	z-index: 60;
	overflow: hidden;
	
	}
/******************* Begin About  ****************/ 

#about {
	background-color: #0e0e0e;
	height: 1050px;
	width: 100%;
	position: relative;
	overflow: hidden;
}
#lab {
	background-color: #0e0e0e;
	background: url(../images/lab.jpg) 100% 70% no-repeat fixed;
	height: 1050px;
	width: 100%;
}
#my-face { position: absolute; top: 900px; left: 5px; width: 230px; max-width: 100%; z-index: 20; display: block; float: left;}
/** rings end at 280 **/
#outer-ring { position: absolute; top: 340px; left: 85px; width: 249px; height: 250px; z-index: 20; display: block; float: left;}
#middle-ring { position: absolute; top: 340px; left: 85px; width: 249px; height: 250px; z-index: 20; display: block; float: left;}
#inner-ring { position: absolute; top: 340px; left: 85px; width: 249px; height: 250px; z-index: 20; display: block; float: left;}
#target{ position: absolute; top: 700px; left: 385px; width: 102px; height: 102px; z-index: 30; display: block; float: left;}
#vertical-scale{ position: absolute; top: 430px; left: 285px; width: 23px; height: 264px; z-index: 30; display: block; float: left;}



/********************  Begin interface_container *****/
#interface {
	background-color: #000;
	height: 1050px;
	width: 100%;
	position: relative;
	overflow: hidden;
}

#space {
	background-color: #000;
	background: url(../images/earth.jpg) 0 0 no-repeat fixed;
	height: 1050px;
	width: 100%;
	/*background-size: auto;
-moz-background-size: cover;
  background-size: cover;*/
	}
	
#control-panel {
position: relative;
width: 996px;
height: 348px;
margin: 0 auto;	

}

#panel-sliver {
	position: relative;
	width: 100%;
	height: 348px;
	background: url(../images/control-panel-sliver.png) 50% 100% repeat-x;
	top: 450px;
}
/****************** Begin animation_container *********/
#animation {
background-color: black;
height: 1050px;
width: 100%;
position: relative;
overflow: hidden;	
}

#jungle-bg {
	background-color: #0e0e0e;
	background: url(../images/jungle-back.jpg) 50% 0% no-repeat fixed;
	height: 1050px;
	width: 100%;
	/*background-size: auto;
-moz-background-size: cover;
  background-size: cover;*/
	}
	
#branch {
	position: absolute;
	right: -100px;
	top: 0px;
	width: 863px;
	height: 816px;
	z-index: 40;
	padding-left: 40px;
	margin-left: 40px; 
	}
/*****************  begin print container *********/
#print{
background: #f8f7d3;
height: 1050px;
position: relative;
width: 100%;
overflow: hidden;	
}

#ink{
	background-color: #f8f7d3;
	background: url(../images/large-ink.jpg) 50% 0% no-repeat fixed;
	height: 1050px;
	width: 100%;
	}
	
#front-ink1 {
position: absolute;
left: 100px;
bottom: 50px;
width: 332px;
height: 408px;
z-index: 40;
}

#front-ink2 {
position: absolute;
right: 20px;
top: 50px;
width: 611px;
height: 644px;
z-index: 40;
}

/***** begin #concepts ***/
#concepts{
background: #f0f0f0; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #f0f0f0 37%, #b2b2b2 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(37%,#f0f0f0), color-stop(100%,#b2b2b2)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #f0f0f0 37%,#b2b2b2 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #f0f0f0 37%,#b2b2b2 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #f0f0f0 37%,#b2b2b2 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #f0f0f0 37%,#b2b2b2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#b2b2b2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
height: 1050px;
position: relative;
width: 100%;
overflow: hidden;	
}

#gears{
	background-color: ;
	background: url(../images/cogs.png) 50% 0% no-repeat fixed;
	height: 1050px;
	width: 100%;
	}

/*****  begin #art *****/
#art{
background: rgb(132, 50, 50);
height: 1050px;
position: relative;
width: 100%;
overflow: hidden;	
}

#face3d{
background: url(../images/artface2.png) 10% 30% no-repeat fixed;
height: 1050px;
position: relative;
width: 100%;
	
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
} 
.modal{
display: block;

margin: 0 auto;
width: 768px;
height: 518px;
position: relative;
background: #525252; /* Old browsers */
background: -moz-linear-gradient(top,  #525252 0%, #b8b6b8 17%, #595959 37%, #747374 56%, #f1f0f0 77%, #7d7d7d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#525252), color-stop(17%,#b8b6b8), color-stop(37%,#595959), color-stop(56%,#747374), color-stop(77%,#f1f0f0), color-stop(100%,#7d7d7d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #525252 0%,#b8b6b8 17%,#595959 37%,#747374 56%,#f1f0f0 77%,#7d7d7d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #525252 0%,#b8b6b8 17%,#595959 37%,#747374 56%,#f1f0f0 77%,#7d7d7d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #525252 0%,#b8b6b8 17%,#595959 37%,#747374 56%,#f1f0f0 77%,#7d7d7d 100%); /* IE10+ */
background: linear-gradient(to bottom,  #525252 0%,#b8b6b8 17%,#595959 37%,#747374 56%,#f1f0f0 77%,#7d7d7d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#525252', endColorstr='#7d7d7d',GradientType=0 ); /* IE6-9 */	
 -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-top: 4px;
	z-index: 9999;
 }
  .modal2{
display: block;

margin: 0 auto;
width: 680px;
height: 320px;
position: relative;
background: #525252; /* Old browsers */
background: -moz-linear-gradient(top,  #525252 0%, #b8b6b8 17%, #595959 37%, #747374 56%, #f1f0f0 77%, #7d7d7d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#525252), color-stop(17%,#b8b6b8), color-stop(37%,#595959), color-stop(56%,#747374), color-stop(77%,#f1f0f0), color-stop(100%,#7d7d7d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #525252 0%,#b8b6b8 17%,#595959 37%,#747374 56%,#f1f0f0 77%,#7d7d7d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #525252 0%,#b8b6b8 17%,#595959 37%,#747374 56%,#f1f0f0 77%,#7d7d7d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #525252 0%,#b8b6b8 17%,#595959 37%,#747374 56%,#f1f0f0 77%,#7d7d7d 100%); /* IE10+ */
background: linear-gradient(to bottom,  #525252 0%,#b8b6b8 17%,#595959 37%,#747374 56%,#f1f0f0 77%,#7d7d7d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#525252', endColorstr='#7d7d7d',GradientType=0 ); /* IE6-9 */	
 -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-top: 4px;
	z-index: 9999;
 }
 
 #modal-ui-1, #modal-ui-2, #modal-ui-3, #modal-ui-4{top: 180px;}
 #modal-concepts-1, #modal-concepts-2, #modal-concepts-3 {top: 240px;}
 #modal-print-1, #modal-print-2 {top: 255px;}
 #modal-art-1 {top: 220px;}
 #modal-ani-1, #modal-ani-2 {top: 175px;}
 #modal-process {top: 375px;}

 .m-auto {
	margin: 0 auto;
	width: 100%;
	height: 700px;
	position: relative; 
 }
 
 .inner-wrap {
	width: 760px; 
	height: 514px;
	background: #2a2a2a; /* Old browsers */
	background: -moz-linear-gradient(top,  #2a2a2a 0%, #1e1e1e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a2a2a), color-stop(100%,#1e1e1e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2a2a2a 0%,#1e1e1e 100%);
/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2a2a2a 0%,#1e1e1e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2a2a2a 0%,#1e1e1e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2a2a2a 0%,#1e1e1e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2a2a', endColorstr='#1e1e1e',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-left: 4px;
	position: relative;
	
}

.inner-wrap2 {
	width: 672px;
	height: 316px;
	background: #2a2a2a; /* Old browsers */
	background: -moz-linear-gradient(top,  #2a2a2a 0%, #1e1e1e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a2a2a), color-stop(100%,#1e1e1e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2a2a2a 0%,#1e1e1e 100%);
/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2a2a2a 0%,#1e1e1e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2a2a2a 0%,#1e1e1e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2a2a2a 0%,#1e1e1e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2a2a', endColorstr='#1e1e1e',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-left: 4px;
	position: relative;

}

.inner-wrap2 img {width: 93%;}

.gallery-close {
background: url(../images/gallery-close-sprite3.png) 0 0 no-repeat;
height: 28px;
width: 26px;
position: absolute;
float: right;
top: 4px;
right: 4px;
cursor: pointer;
display: block;
z-index: 9999;
}

.gallery-close:hover, .gallery-close:visited {
background-position: 0 -28px;
cursor: pointer;
z-index: 9999;
}

.gallery-close:active {
background-position: 0 -56px;
cursor: pointer;
z-index: 9999;
}

.inner-gallery-side {
padding: 0 15px;
margin: 0;	
}
h2.side-title {
border-bottom: 1px white solid;
font-size: 18px;
font-family: 'Lato' , sans-serif;
padding-bottom: 2px;
padding-top: 15px;
font-weight: 100;
padding-left: 0;
letter-spacing: 1px;
opacity: .8;

}

.inner-gallery-side p {
margin-top: -6px;	
padding: 0;
font-size: 12px;
letter-spacing: .1em;
color: #ececec;
}
.gallery-side {
float: right;
width: 200px;
height: 512px;	
position: relative; 

-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background:url(../images/gallery-etch-sm.png) 0 15px no-repeat;
	

 }
 .tag-list {
	float: right;
	position: absolute;
	bottom: 0;
	right: 8px;
	width: 220px;
	height: auto; 
 }
 
 p.tag {font-family: 'Lato' , sans-serif; font-size: 12px; color: #ececec; font-weight: 100; text-align: right; padding: 5px 30px 5px 0; margin: 2px 0;}
 
 p {font-family: 'Lato' , sans-serif; font-size: 13px;}
 
 #paint-brush {
	background:url(../images/paint-brush2.png) 100% 50% no-repeat;
 }
  #addy {background:url(../images/addy-logo.png) 100% 50% no-repeat;}
 #light-bulb {background: url(../images/light-bulb.png) 100% 50% no-repeat; 
 }
 #motion-ball {background: url(../images/motion-ball.png) 100% 50% no-repeat; 
 }
 #cube {background: url(../images/3d-cube.png) 100% 50% no-repeat;
  
 }
 #interface-icon {background: url(../images/interface.png) 100% 50% no-repeat; 
 }
  #development-icon {background: url(../images/development-icon.png) 100% 50% no-repeat; 
 }
.ad-gallery {
  width: 510px;
	display: block;
  position: relative;
   top: 14px;
  left: 25px;
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
 
}
.flash-gallery {
  width: 510px;
	display: block;
  position: relative;
   top: 14px;
  left: 25px;
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
 
}
 .modal * {
    font-family: 'Lato' , sans-serif, Verdana, Arial, sans-serif;
    color: #E5E5E5;
    line-height: 135%;
	font-size: 13px;
	font-weight: 300;
	 }

.ad-gallery, .ad-gallery * {
  margin: 0;
  padding: 0;
}
  .ad-gallery .ad-image-wrapper {
    width: 100%;
    height: 380px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
	margin-bottom: 2px;
	
	  border-bottom: 1px solid rgba(255, 255, 255, .2);
	 background: #000;




  }
    .ad-gallery .ad-image-wrapper .ad-loader {
      position: absolute;
      z-index: 10;
      top: 48%;
      left: 48%;
      border: 1px solid #CCC;
    }
    .ad-gallery .ad-image-wrapper .ad-next {
      position: absolute;
      right: 0;
      top: 0;
      width: 25%;
      height: 100%;
      cursor: pointer;
      display: block;
      z-index: 200;
    }
    .ad-gallery .ad-image-wrapper .ad-prev {
      position: absolute;
      left: 0;
      top: 0;
      width: 25%;
      height: 100%;
      cursor: pointer;
      display: block;
      z-index: 200;
    }
    .ad-gallery .ad-image-wrapper .ad-prev, .ad-gallery .ad-image-wrapper .ad-next {
      /* Or else IE will hide it */
      background: url(../images/trans.gif);
    }
      .ad-gallery .ad-image-wrapper .ad-prev .ad-prev-image, .ad-gallery .ad-image-wrapper .ad-next .ad-next-image {
        background: url(../images/ad_prev.png);
        width: 30px;
        height: 30px;
        display: none;
        position: absolute;
        top: 47%;
        left: 0;
        z-index: 101;
      }
      .ad-gallery .ad-image-wrapper .ad-next .ad-next-image {
        background: url(../images/ad_next.png);
        width: 30px;
        height: 30px;
        right: 0;
        left: auto;
      }
    .ad-gallery .ad-image-wrapper .ad-image {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      z-index: 9;
    }
      .ad-gallery .ad-image-wrapper .ad-image a img {
        border: 0;
      }
      .ad-gallery .ad-image-wrapper .ad-image .ad-image-description {
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding: 7px;
        text-align: left;
        width: 100%;
        z-index: 2;
        background: url(../images/opa75.png);
        color: #000;
      }
      * html .ad-gallery .ad-image-wrapper .ad-image .ad-image-description {
        background: none;
        filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=true, sizingMethod=scale, src='../images/opa75.png');
      }
        .ad-gallery .ad-image-wrapper .ad-image .ad-image-description .ad-description-title {
          display: block;
        }
  .ad-gallery .ad-controls {
    height: 40px;
	background: url(../images/keyboard-scroll.png) 50% 25% no-repeat;
  }
  
    .ad-gallery .ad-info {
      float: left;
    }
    .ad-gallery .ad-slideshow-controls {
      float: right;
    }
      .ad-gallery .ad-slideshow-controls .ad-slideshow-start, .ad-gallery .ad-slideshow-controls .ad-slideshow-stop {
        padding-left: 5px;
        cursor: pointer;
      }
      .ad-gallery .ad-slideshow-controls .ad-slideshow-countdown {
        padding-left: 5px;
        font-size: 0.9em;
      }
    .ad-gallery .ad-slideshow-running .ad-slideshow-start {
      cursor: default;
      font-style: italic;
    }
  .ad-gallery .ad-nav {
    width: 100%;
    position: relative;
  }
    .ad-gallery .ad-forward, .ad-gallery .ad-back {
      position: absolute;
      top: 0;
      height: 100%;
      z-index: 10;
    }
    /* IE 6 doesn't like height: 100% */
    * html .ad-gallery .ad-forward, .ad-gallery .ad-back {
      height: 100px;
    }
    .ad-gallery .ad-back {
      cursor: pointer;
      left: -20px;
      width: 13px;
      display: block;
      background: url(../images/ad_scroll_back.png) 0px 22px no-repeat;
    }
    .ad-gallery .ad-forward {
      cursor: pointer;
      display: block;
      right: -20px;
      width: 13px;
      background: url(../images/ad_scroll_forward.png) 0px 22px no-repeat;
    }
    .ad-gallery .ad-nav .ad-thumbs {
      overflow: hidden;
      width: 100%;
    }
      .ad-gallery .ad-thumbs .ad-thumb-list {
        float: left;
        width: 9000px;
        list-style: none;
		overflow: hidden;
      }
        .ad-gallery .ad-thumbs li {
          float: left;
          padding-right: 5px;
		  overflow: hidden;
        }
          .ad-gallery .ad-thumbs li a {
            display: block;
          }
            .ad-gallery .ad-thumbs li a img {
              border: 1px solid #CCC;
              display: block;
            }
            .ad-gallery .ad-thumbs li a.ad-active img {
              border: 1px solid #616161;
            }
/* Can't do display none, since Opera won't load the images then */
.ad-preloads {
  position: absolute;
  left: -9000px;
  top: -9000px;
}
.banners {padding-top: 60px; width: 510px; margin: auto;}
#boingo{padding-top: 40px; width: 510px; margin: auto;}


@media screen and (min-width: 1024px) {

.current li {font-size: 16px;}

p.content, .info-box li {letter-spacing: .1em;}

#name_slide h3 {font-size: 14px;}

.info-box {width: 410px;}

.button-area {width: 180px;}

.animation-thumb {width: 140px;}

.overlay_text .black_mask h2 {font-size: 140%;} 

.overlay_text .black_mask p {font-size: 100%;} 

.overlay_text h2 {font-size: 18px;}

.overlay_text p {font-size: 12px; padding: 5px 20px 20px;}

#about-box, #interface-box, #concepts-box, #art-box {right: 14%;}
#print-box {left: 10%;}
#branch {right: 0px;}

.modal {height: 588px; width: 938px;}
.modal2 {height: 350px; width: 750px;}
#modal-ui-1, #modal-ui-2, #modal-ui-3, #modal-ui-4 {top: 150px;}
#modal-concepts-1, #modal-concepts-2, #modal-concepts-3 {top: 210px;}
#modal-print-1, #modal-print-2 {top: 225px;}
#modal-art-1 {top: 190px;}
.inner-wrap {height: 584px; width: 930px;}
.inner-wrap2 {height: 346px; width: 732px;}
.gallery-side {height: 582px; width: 250px; background:url(../images/gallery-etch.png) 0 15px no-repeat; }
.ad-gallery, .flash-gallery {width: 630px;}
.ad-gallery .ad-image-wrapper {height: 450px;}
.banners {padding-top: 80px;}
.boingo {padding-top: 70px;}
}

#html5Loader{
	top:0;
	left:0;
	background-color:black;
	background-color:rgba(0,0,0,0.95);
	position:fixed;
	z-index:99;
}
#html5Loader .fallback {
	top:50%;
	position:absolute;
	text-align:center;
	width:100%;
	color:white;
	vertical-align: middle;
	display: block;
	font-style: normal;
}
div#wrapper > * {
	width:400px;
}

.pushmenu-left {
        position: fixed;
        width: 360px;
        height: 100%;
        top: 0;
		left:0;
}

.pushmenu-inner{
	background: #3c3933;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    width: 360px;
    height: 100%;
    top: 0;
	left:0;
	z-index:-10;
	
}

.pushmenu-right {
        background: #3c3933;
        font-family: Arial, Helvetica, sans-serif;
        position: fixed;
        width: 360px;
        height: 100%;
        top: 0;
		right:0;
}

.pushmenu-push-other {
	overflow-x: hidden;
        position: relative; 
}
 
 
.pushmenu-push.toright > div  {
        transform: translate3d(360px, 0, 0);
  		-webkit-transform: translate3d(360px, 0, 0);
}




.pushmenu-push.toleft > div {
        transform: translate3d(-360px, 0, 0);
  		-webkit-transform: translate3d(-360px, 0, 0);
}




.pushmenu-push-fixed {
		position:fixed;
		z-index:999999999;
}


.pushmenu-push-down {
    margin-top:0px;
}

.pushmenu-push-up {
    margin-top:-48px;
}

.pushmenu-push > div  {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;  
}


.toolbar.toolbar-extended{
	position: fixed;
	z-index:999999999;
}



